*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(220, 220, 220);
}
.navbar{
width: 208vh ;
height: 10vh;
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: white;
}
.nav-ul{
width: 190vh;
height: 10vh;
align-items: center;
display: flex;
justify-content: space-between;
gap: 10px;
}
.nav-li{
display: flex;
justify-content: center;
align-items: center;
list-style: none;
height: 10vh;
width: 10vw;
position: relative;
}
.nav-links{
text-decoration: none;
color: black;
font-weight: bold;
z-index: 1;
}
i{
margin-right: 6px;
}
.nav-li::before{
content: '';
position: absolute;
background-color: rgb(78, 172, 255);
top: 0;
left: 0;
width: 0%;
height: 100%;
transition: all 0.8s;
}
.nav-li:hover::before{
width: 100%;
}
/* profile information section */
.pro-info{
width:80vw;
height: 90vh;
margin-top: 18px;
border: 1px solid red;
}
.profile-card{
width: 19vw;
height:82vh;
display: flex;
place-items: center;
flex-direction: column;
gap: 16px;
border-radius: 6px;
background-color: #eeecec;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.286);
/* border: 1px solid red; */
}
.profile-card img{
width:19vw;
height: 38vh;
}
.details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
.profile-info{
width: 45vw;
height:70vh;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.286);
background-color:#eeecec;
border-radius: 10px;

/* border: 1px solid red;    */
}